section.section-vehicules{
    width: calc(var(--full-width) - (var(--margin-section-vehicules) * 2));
    padding: 0 var(--margin-section-vehicules);
}

h1.titre-vehicules{
    font-family: var(--cinzel);
    font-weight: 400;
    color: var(--couleur-texte);
    font-size: 28px;
}

div.carte-vehicule{
    background-color: var(--couleur-voiture);
    width: var(--size-carte-voiture);
    height: var(--size-carte-voiture);
    border-radius: 35px;
    display: grid;
    grid-template-rows: repeat(2,min-content);
    overflow: hidden;
}

div.case-voiture-render{
    width: var(--full-width);
    height: calc(var(--size-carte-voiture) - var(--size-texte-voiture));
}

div.nom-voiture{
    width: var(--full-width);
    height: var(--size-texte-voiture);
    font-family: var(--montserrat);
    font-size: 18px;
    padding-left: 25px;
}