section.recherche-case{
    width: var(--full-width);
    height: var(--height-section-recherche);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.recherche-bar{
    width: 70%;
    height: var(--height-recherche-bar);
    border-radius: var(--border-radius-recherche-bar);
    box-shadow: 0px 2px 8px rgba(100,100,100,0.5);
    background-color: var(--background-header);
    display: grid;
    grid-template-columns: repeat(2,auto);
    overflow: hidden;
}

div.recherche-bar input{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 5vw;
    font-family: var(--montserrat);
    font-size: 16px;
}

div.recherche-bar input::placeholder{
    font-family: var(--montserrat);
    font-style: italic;
    font-size: 15px;
}

div.flex-button{
    width: auto;
    height: var(--full-width);
    display: flex;
    align-items: center;
    position: relative;
}

button.button-recherche{
    width: var(--size-button-recherche);
    height: var(--size-button-recherche);
    border-radius: 50%;
    background-color: var(--rose-pastel);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 45px;
    cursor: pointer;
}

.search-icon{
    color: white;
    font-size: 18px;
    transform: rotateZ(90deg);
}